<!-- Overview -->
<section class="padding-bot-5" id="overview">
<h3 class="title is-3">Getting Started</h3>
<h4 class="subtitle">Bulma + Nunjucks + Gulp (<a href="https://github.com/beadams86/bco-dmo" target="_blank">on Github</a>)</h4>
<p class="margin-bot-1">This BCO-DMO website template uses the lightweight, open source CSS framework <a href="https://bulma.io/documentation/" target="_blank">Bulma</a> for mobile-tested, accessible UI base components, combined with <a href="https://mozilla.github.io/nunjucks/getting-started.html" target="_blank">Nunjucks</a> for JS templating.</p>
<div class="content">
    <ul>
        <li><code>npm install</code> - from inside <a href="https://github.com/beadams86/bco-dmo" target="blank">bco-dmo project</a> root the first time running the site locally to install all dependencies (ie. Gulp, Sass, etc.)</li>
        <li><code>gulp auto</code> - runs the site locally via localhost</li>
        <li><code>src/</code> directory is where you make all content, template/layout, or component changes</li>
        <li><code>dist/assets/*</code> directories for images, CSS/Sass, and JS changes</li>
    </ul>
</div>
</section>